<div class="nav-mobile">
  <div id="nav-mobile-menu-button" class="nav-mobile__button">
    <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
  </div>
  <nav id="nav-mobile-menu" class="nav-mobile__menu">
    <a class="nav-mobile__link" href="#when">La boda</a>
    <a class="nav-mobile__link" href="#order-of-events">Plan del finde</a>
    <a class="nav-mobile__link" href="#travel">Cómo llegar</a>
    <a class="nav-mobile__link" href="#accommodation">Dónde alojarse</a>
  </nav>
</div>
<nav class="nav-desktop">
  <a class="nav-desktop__link" href="#when">La boda</a>
  <a class="nav-desktop__link" href="#order-of-events">Plan del finde</a>
  <a class="nav-desktop__link" href="#travel">Cómo llegar</a>
  <a class="nav-desktop__link" href="#accommodation">Dónde alojarse</a>
</nav>