<main>

    <section id="when" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <h1 class="section__heading">La boda</h1>
        <section class="section__split">
            <div>
                <p class="section__subheading">Cuándo</p>
                <p class="section__text--bold">
                    <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Boda+Marta+y+Fer&dates=20241102T123000Z/20241102T133000Z&details=Boda+de+Marta+y+Fer&location=Iglesia+de+Santo+Tomás+de+Canterbury,+33401+Avilés,+Asturias,+España&sf=true&output=xml" style="color: inherit; text-decoration: none;">{{ .Params.when }}</a>
                </p>
            </div>
            <div>
                <p class="section__subheading">Dónde</p>
                <p class="section__text--bold">
                    <a href="https://maps.app.goo.gl/Q4jLndBaWo8CsFfY6" style="color: inherit; text-decoration: none;">{{ .Params.where }}</a>
                </p>
            </div>
        </section>
    </section>

    <div class="image"></div>

    <section id="rsvp" class="section light">
        <div class="section__svg">
            {{ partial "svgs/branch.svg" . }}
        </div>
    
        <h1 class="section__heading">Confirma asistencia</h1>
        <section class="section__rsvp-content">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScq2pP8ATJLhpKHwHeiGDF7o2PFuoBEDatHrdL6Gm-oMKghQQ/viewform" style="color: inherit; text-decoration: none;">Rellena esta encuesta para confirmar asistencia y ayúdanos con los últimos detalles</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScq2pP8ATJLhpKHwHeiGDF7o2PFuoBEDatHrdL6Gm-oMKghQQ/viewform" style="color: inherit; text-decoration: none;" class="icon-container">{{ partial "svgs/open-in-new.svg" . }}</a>
        </section>
    </section>
    

    <div class="image"></div>

    <section id="order-of-events" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaves.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/order-of-events" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image3"></div>

    <section id="travel" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/travel" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image3"></div>

    <section id="accommodation" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaves.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/accommodation" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image1"></div>

    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
        </a>
    </div>
</main>